/* Summary */

.summary {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fdfaf5;
    background-color: #ec7357;
    text-align: center;
}
.summary__outer-container {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
}
  .summary__inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .summary__text-headline {
    max-width: 900px;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 25px;
  }
  .summary__text-body {
    max-width: 1000px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 22px;
  }
  .summary__text-body a {
    text-decoration: underline;

  text-decoration-thickness: 0.1em;
  }
  
  /* Tablet and Smaller Desktop */
  @media (min-width: 601px) and (max-width: 1200px) {
   
  }
  
  @media (max-width: 1200px) {
    .summary__outer-container {
        padding-top: 80px;
    padding-bottom: 80px;
        padding-left: 20%;
        padding-right: 20%;
      }
     
      .summary__text-headline {
        max-width: 85vw;
        font-size: 25px;
        margin-bottom: 20px;
      }
      .summary__text-body {
        font-size: 14px;
      }
  }

  