/* Hero */

.header {
  position: relative;
  height: 550px;
  --background-color-light: #fdfaf5;
  --background-color-dark: #000000;
  --title-color: #ec7357;
  --link-color: #1e1e1e;
  background-color: var(--background-color-light);
}
.header-foreground {
  display: flex;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-container {
  display: flex;
  padding: 50px;
  width: 100%;
}
.header-left {
  flex: 1.20;
  display: flex;
  justify-content: right;
}
.header-left-container {
  display: flex;
  align-items: center;
  justify-content: right;
  height: 100%;
}
.header-left__img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 530px;
  height: 530px;
}
.header-left__img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  filter: drop-shadow(0px 0px 15px var(--background-color-light));
}
.header-middle-spacer {
  width: 80px;
}
.header-right {
  flex: 1;
}
.header-right-container {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100%;
}
.header-right-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-right__peter-smyth-container {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 50px;
}
.header-right__peter-smyth-container > * {
  margin-bottom: 0px;
  font-size: 120px;
  font-weight: 700;
  line-height: 0.8em;
  align-self: center;
  color: var(--title-color);
}
.header-right__smyth {
  text-decoration: underline;
  text-decoration-color: var(--title-color);
  text-decoration-thickness: 0.15em;
}
.header-right__links {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}
.header-right__links > a {
  color: var(--link-color);
  text-decoration: underline 0.15em rgba(25, 25, 25, 0);
  transition: text-decoration-color 300ms;
}
.header-right__links > a:hover {
  text-decoration-color: var(--link-color);
}
.header-right__asterisk-container {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;

  padding-left: 8px;
  padding-right: 8px;

  color: var(--link-color);
}
.header-background {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}
.header-background-topspacer {
  display: flex;
  height: 5%;
}
.header-background-toprow {
  display: flex;
  height: 20%;
}
.header-background-middlerow {
  height: 51%;
}
.header-background-bottomrow {
  display: flex;
  height: 20%;
}
.header-background-bottomspacer {
  display: flex;
  height: 4%;
}
.header-background-imgrow {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-background-img {
  position: relative;
  margin-right: 35px;
  opacity: 100%;

  filter: invert(0%) sepia(2%) saturate(6481%) hue-rotate(329deg)
    brightness(97%) contrast(80%);
}
.button {
  display: inline;
  width: 162px;
  align-items: center;
  background-color: #ec7357;
  color: #fdfaf5;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  color: val(--link);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button span {
  width: 0px;
  min-width: 100%;
  margin-right: 5px;
  transition: margin-right 0.2s;
}
.button:hover span {
  margin-right: 8px;
  transition: margin-right 0.2s;
}

@media (min-width: 1201px) {
  .header {
    height: min(820px, max(100vh, 700px));
  }
}
/* Tablet and Smaller Desktop */
@media (max-width: 1200px) {
  .header {
    height: 550px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .header-left {
    flex: 0;
    width: 0;
    height: 0;
  }
  .header-right-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-right-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-right__peter-smyth-container {
    margin-top: 12px;
    margin-bottom: 25px;
    margin-left: 0px;
  }
  .header-right__peter-smyth-container > * {
    font-size: 65px;
  }
  .header-right__smyth {
    text-decoration: underline 0.15em var(--title-color);
  }
  .header-right__links {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .header-right__asterisk-container {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;

    padding-left: 8px;
    padding-right: 8px;
  }
  .header-background-topspacer {
    display: flex;
    height: 7%;
  }
  .header-background-toprow {
    display: flex;
    height: 20%;
  }
  .header-background-middlerow {
    height: 49%;
  }
  .header-background-bottomrow {
    display: flex;
    height: 20%;
  }
  .header-background-bottomspacer {
    display: flex;
    height: 4%;
  }
  .button {
    width: 130px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem 0.5rem .9rem;
    font-size: 11px;
    font-weight: 700;
  }
  .button span {
    width: 0px;
    min-width: 100%;
    margin-right: 5px;
    transition: none;
  }
  .button:hover span {
    margin-right: 5px;
    transition: none;
  }
}
