/* Developer */

.developer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fdfaf5;
  --title-color: #ec7357;
  --body-color: #1e1e1e;
}
.developer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  margin-left: -10%;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 120%;
  height: 100%;
}
.developer__text-outer-container {
  flex-basis: 450px;
  display: flex;
}
.developer__text-headline {
  color: var(--title-color);
  font-size: 70px;
  font-weight: 700;
  line-height: 0.8em;
  margin-bottom: 22px;
}
.developer__text-body {
  color: var(--body-color);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 22px;
}
.developer__drawing-container-outer-one,
.developer__drawing-container-outer-two,
.developer__drawing-container-outer-three {
  flex: 0;
  position: relative;
}
.developer__drawing-container-inner {
  display: flex;
  justify-content: center;
}
.developer__drawing {
  border-radius: 10px;
  opacity: 40%;
}

.button,
.button2 {
  display: inline;
  align-items: center;
  background-color: #ec7357;
  color: #fdfaf5;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0.6rem 0.6rem 0.6rem 1rem;
  margin-right: 10px;
  color: val(--link);
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  text-decoration: none;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button {
  width: 165px;
}
.button2 {
  width: 225px;
}
.button span,
.button2 span {
  width: 0px;
  min-width: 100%;
  margin-right: 5px;
  transition: margin-right 0.2s;
}
.button:hover span,
.button2:hover span {
  margin-right: 8px;
  transition: margin-right 0.2s;
}

/* Tablet and Smaller Desktop */
@media (min-width: 601px) and (max-width: 1200px) {
  .developer-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -100%;
    padding-bottom: 40px;
    width: 300%;
    gap: 0px;
    column-gap: 50px;
  }
  .developer__text-outer-container {
    justify-content: center;
    flex: 1 0 100%;
    order: -1;
    margin-bottom: 50px;
  }
  .developer__text-inner-container {
    text-align: center;
    width: 440px;
  }
  .developer__drawing-container-outer-one,
  .developer__drawing-container-outer-two,
  .developer__drawing-container-outer-three {
    flex: 0;
  }
}

@media (max-width: 600px) {
  .developer-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -100vw;
    padding-bottom: 40px;
    width: 300vw;
    gap: 0px;
    column-gap: 0px;
  }
  .developer__text-outer-container {
    justify-content: center;
    flex: 1 0 100%;
    order: -1;
    margin-bottom: 20px;
  }
  .developer__text-inner-container {
    text-align: center;
    width: 85vw;
  }
  .developer__drawing-container-outer-one {
    margin-right: -30px;
  }
  .developer__drawing-container-outer-two {
    margin-right: 0vw;
  }
  .developer__drawing-container-outer-three {
    margin-left: -30px;
  }
  .developer__drawing {
    width: 200px;
    height: 200px;
  }
  .button,
  .button2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
  }
}
@media (max-width: 400px) {
  .developer__text-headline {
    font-size: 16vw;
  }
}
